<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>上載圖片</title>
    <script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-storage.js"></script>
    <style>
        img{
            max-width: 50%;
        }
        * {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
        }

        body {
            display: flex;
            min-height: 100vh;
            width: 100%;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
        }

        button {
            border: none;
            background: linear-gradient(to left, #55e0a3, #80ffdb);
            color: white;
            padding: 7.5px 16px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 20px;
            border-radius: 6px;
        }

        span {
            font-size: 20px;
            color: #55e0a3;
        }
    </style>
</head>

<body>
    <div class="container">
        <input accept="image/*" type="file" id="hiddenchoosefilebtn" hidden>
        <div class="preview">
            <img id="preview">
        </div>
        <div class="choosefile">
            <button id="choosefilebtn">請選擇圖片</button>
        </div>
        <br>
        <div class="upload">
            <button id="uploadbtn">上載</button>
        </div>
        <br>
        <div class="status">
            <span id="statusspan"></span>
        </div>
    </div>
    <script>
        // Server Embed
        const ServerEmbedName = "{{hash}}"
        // Firebase Config
        const firebaseConfig = {
            apiKey: "AIzaSyAods_7xDsU7v5t2KE2PAZoW4ToMI9Rtlk",
            authDomain: "imageupload-ywps.firebaseapp.com",
            projectId: "imageupload-ywps",
            storageBucket: "imageupload-ywps.appspot.com",
            messagingSenderId: "40996881013",
            appId: "1:40996881013:web:94551636ed12d6155c2e3c",
            measurementId: "G-NPZGD6KC6Z"
        };

        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);

        // Get a reference to the storage service, which is used to create references in your storage bucket
        const storage = firebase.storage();

        // DOM Elements
        const ChooseFileBtn = document.querySelector("#choosefilebtn");
        const UploadBtn = document.querySelector("#uploadbtn");
        const StatusSpan = document.querySelector("#statusspan");
        const HiddenChooseFileBtn = document.querySelector("#hiddenchoosefilebtn");
        const ImagePreview = document.querySelector("#preview");
        // Make the file chooser better
        ChooseFileBtn.addEventListener("click", () => HiddenChooseFileBtn.click());

        HiddenChooseFileBtn.addEventListener("change", (e) => {
            if (e.target.files[0] !== null) {
                ImagePreview.src = URL.createObjectURL(e.target.files[0]);
                ImagePreview.onload = () => {
                    URL.revokeObjectURL(output.src);// free memory
                }
                StatusSpan.innerHTML = "已選擇圖片";
            };
        }
        );

        // Get File Extension
        function GetFilenameExtension(file) {
            return file.name.split('.').pop();
        };

        // Send Request to API
        function SendRequestToAPI() {
            var HiddenChooseFileBtnFile = HiddenChooseFileBtn.files[0];

            var SendRequestToAPIName = ServerEmbedName;
            var SendRequestToAPIExtension = GetFilenameExtension(HiddenChooseFileBtnFile);
            var SendRequestToAPIFull = `${SendRequestToAPIName}.${SendRequestToAPIExtension}`;

            var data = {
                extension: SendRequestToAPIExtension,
                full: SendRequestToAPIFull
            }

            fetch(`/image/upload/${SendRequestToAPIName}`,
                {
                    body: JSON.stringify(data),
                    cache: 'no-cache',
                    credentials: 'same-origin',
                    headers: {
                        'user-agent': 'Mozilla/4.0 MDN Example',
                        'content-type': 'application/json'
                    },
                    method: 'POST',
                    mode: 'same-origin',
                    redirect: 'follow',
                    referrer: 'no-referrer',
                }).then().catch().then();
        };

        // Send Request to Firebase
        function SendRequestToFirebase() {
            var HiddenChooseFileBtnFile = HiddenChooseFileBtn.files[0];

            var SendRequestToFirebaseName = ServerEmbedName;
            var SendRequestToFirebaseExtension = GetFilenameExtension(HiddenChooseFileBtnFile);
            var SendRequestToFirebaseFull = `${SendRequestToFirebaseName}.${SendRequestToFirebaseExtension}`;

            var StorageRef = storage.ref(SendRequestToFirebaseFull);
            var StorageTask = StorageRef.put(HiddenChooseFileBtnFile);

            StorageTask.on(
                'state_changed',
                function progress(snapshot) {
                    StatusSpan.innerHTML = "上載中"
                },
                function error(err) {
                },
                function complete() {
                    StatusSpan.innerHTML = "上載完成";
                    setTimeout(() => { StatusSpan.innerHTML = ""; }, 2000);
                });
        };


        // Upload Button
        UploadBtn.addEventListener('click', () => {
            SendRequestToAPI();
            SendRequestToFirebase();
        })
        
        // Todo: Preview https://stackoverflow.com/questions/4459379/preview-an-image-before-it-is-uploaded

    </script>
</body>

</html>
